body {
    margin: 0;
    padding: 0;
    border: 0;
}

textarea {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border: 0;
    margin: 0;
    padding: 10%;
    width: 80%;
    line-height: 1.5em;
    resize: none;
    outline: none;
    background-color: transparent;
}

header {
    position: absolute;
    left: 10%;
    margin-top: 10px;
    font-size: 4em;
}