body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.page-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border: 0;
    margin: 0;
    padding: 150px 10% 50px 10%;
    width: 80%;
    line-height: 1.5em;
    background-color: transparent;
    overflow: auto;
    resize: none;
    outline: none;
    z-index: -1;
}

header {
    width: 80%;
    height: 100px;
    padding: 0 10%;
    z-index: 10;
}

header .btn {
    float: right;
    margin: 0 5px;
    margin-top: 30px;
}

header .separator {
    height: 40px;
    float: right;
    margin: 30px 10px 0 10px;
}

#banner {
    position: relative;
    top: 10px;
    font-size: 4em;
}

#login {
    position: absolute;
    right: 60px;
    top: 70px;
    padding: 10px;
}

.overlay {
    background-color: rgba(255,255,255, 0.8);
    box-shadow: 0 0 5px rgba(0,0,0, 0.5);
}

.buttons {
    position: relative;
    float: right;
}

.hvcenter {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.register {
    width: 180px;
    height: 210px;
    background-color: rgba(255,255,255, 0.8);
    box-shadow: 0 0 5px rgba(0,0,0, 0.5);
    padding: 10px;
}

.register .btn {
    float: right;
}

.register .title {
    display: block;
    font-size: 1.7em;
    margin-bottom: 5px;
}

.register-success {
    font-weight: 300 !important;
    width: 500px;
    height: 160px;
    text-align: center;
}

.register-success .loader {
    margin: 5px auto;
}

.form-field {
    display: block;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
    width: 168px;
    background: transparent;
}

.invalid-input {
    border: 1px solid red;
}

.invalid-msg {
    position: absolute;
    margin: 5px 0 -5px 200px;
    width: 400px;
    color: red;
}

.separator {
    width: 1px;
    background-color: #ccc;
}

.btn {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border: 0;
}

.btn-large {
    width: 80px;
    padding: 10px;
}

.btn-action {
    background-color: #44d;
}

    .btn-action:hover {
        background-color: #22b;
    }

    .btn-action:active {
        background-color: #009;
    }

.btn-std {
    background-color: #999;
}

    .btn-std:hover {
        background-color: #777;
    }

    .btn-std:active {
        background-color: #555;
    }