<!DOCTYPE html>
<html>
<head>
    <title>vikio.</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css"/>
</head>

<body>

    {% block header %}
    <header>
        <span id="banner">vikio.</span>

        {% if not login %}
            <div class="btn btn-large btn-action">register</div>
            <div class="btn btn-large btn-std">login</div>
        {% endif %}

        {% if login %}
            <div class="btn btn-large btn-std">logout</div>
        {% endif %}

        <div class="separator"></div>

        {% if login %}
            <div class="btn btn-large btn-action">edit</div>
        {% endif %}

        <div class="btn btn-large btn-std">history</div>
    </header>
    {% endblock %}

    {% block content %}
    {% endblock %}

</body>
</html>