<!DOCTYPE html>
<html>
<head>
    <title>vikio.</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css"/>
    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</head>

<body>
    <header class="overlay">
        <span id="banner">vikio.</span>

    <div class="buttons">
    {% block buttons %}{% endblock %}
    </div>

    </header>

    {% block content %}{% endblock %}
    
    {% block scripts %}{% endblock %}

</body>
</html>