{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}
    <script>
        $(document).ready(function(){
            $('.invalid-msg').hide();
            invalidField({{errors}});
        })
    </script>

    <form class="register" method="post">
        <span class="title">register</span>
        
        <div class="invalid-msg" id="username-msg">Invalid username.</div>
        <div class="invalid-msg" id="username-taken-msg">Username already taken.</div>
        <input type="text" name="username" id="username" placeholder="username" class="form-field"/>
        
        <div class="invalid-msg" id="password-msg">Invalid password.</div>
        <input type="password" name="password" id="password" placeholder="password" class="form-field"/>
        
        <div class="invalid-msg" id="verify-msg">Passwords do not match.</div>
        <input type="password" name="verify" id="verify" placeholder="verify password" class="form-field"/>
        
        <div class="invalid-msg" id="email-msg">Invalid email address.</div>
        <input type="text" name="email" id="email" placeholder="email (optional)" class="form-field"/>
        
        <input type="submit" class="btn btn-action btn-large"/>
    </form>
{% endblock %}