{% extends "base.html" %}

{% block buttons %}
    {% if not login %}
        <div id="btn-register" class="btn btn-large btn-action">register</div>
        <div id="btn-login" class="btn btn-large btn-std">login</div>
        <form class="overlay" id="login">
            <input name="username" type="text" class="form-field"/>
            <input name="password" type="password" class="form-field"/>
        </form>
    {% endif %}

    {% if login %}
        <div id="btn-logout" class="btn btn-large btn-std">logout</div>
    {% endif %}

    <div class="separator"></div>

    {% if login %}
        <div class="btn btn-large btn-action">edit</div>
    {% endif %}

    <div class="btn btn-large btn-std">history</div>
{% endblock %}

{% block content %}
    <div class="page-content">{{content}}</div>
{% endblock %}